<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eli.vue.dao.BooksMapper">
    <select id="getBook" resultType="cn.eli.vue.entity.Book">
        SELECT * FROM book
    </select>
</mapper>