<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ljn.dao.ReportMapper">
    <select id="queryData" resultType="java.util.Map">
        SELECT t1.REP_TMP_ID     repTmpId,
               t1.REP_TYPE_ID    repTypeId,
               t1.REP_NAME       repName,
               t1.REP_CYCLE      repCycle,
               t1.URL_PAGE_CLASS urlPageClass,
               t1.OBJECT_TYPE    objectType,
               t2.ITEM_NAME AS   objectTypeName,
               t3.ITEM_NAME      repCycleName
        FROM g_report_model t1
                 left JOIN s_dict_item t2 ON t2.ITEM_NO = t1.OBJECT_TYPE and t2.TYPE_NO = 185
                 left JOIN s_dict_item t3 ON t3.ITEM_NO = t1.REP_CYCLE and t3.TYPE_NO = 286
        WHERE 1 = 1
    </select>

    <update id="updateReport" parameterType="java.util.Map">
        UPDATE g_report_model
        SET REP_TYPE_ID=#{repTypeId},
            REP_NAME=#{repName},
            REP_CYCLE=#{repCycle},
            URL_PAGE_CLASS=#{urlPageClass},
            OBJECT_TYPE=#{objectType}
        WHERE REP_TMP_ID = #{repTmpId}
    </update>

    <delete id="batchDelect">
        delete from g_report_model where
        REP_TMP_ID IN
        <foreach collection="objectIds.split(',')" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insert">
        insert into g_report_model
        (REP_TMP_ID, REP_TYPE_ID, REP_TMP_CODE, REP_NAME, REP_CYCLE,
         URL_PAGE_CLASS, SORT_NO, OBJECT_MAX_COUNT, OBJECT_TYPE, REP_TMP_STYLE, DATA_FLAG, RESERVED1)
        values (#{repNameId},
                #{repTmpId},
                #{repTmpCode},
                #{repName},
                #{repCycle},
                #{urlPageClass},
                #{sortNo},
                #{objectMaxCount},
                #{objectType},
                #{repTmpStyle},
                #{dataFlag},
                #{reserved1})
    </insert>

</mapper>